@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
}
header{
    width: 100%;
    position: fixed;
    color:rgba(237,193,178,255);
    z-index: 100;
}
nav{
    background-color: rgb(25, 17, 93);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 20px;
    max-height: 45px;
}
nav ul{
    display: flex;
    gap:40px;
    margin-right:2%;
}
nav ul li{
    list-style: none;
    margin-block: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color:rgba(237,193,178,255);
    text-transform: uppercase;
    font-size: 12px;
    word-spacing: 2px;
}
nav ul li i{
    color:rgba(237,193,178,255);
    font-size: 30px;
    margin-right: 5px;
}
nav ul details summary{
    z-index: 2;
}
nav ul details{
    position: relative;
    top:10%;
}
.is-active-works{
    padding-left: 15px;
}
nav ul details p{
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    font-family: courier;
}
nav ul details p a{
    text-decoration: none;
    color:black
}
nav ul details p:hover{
    background-color: rgb(214, 212, 212);
}
.is-active{
    font-weight: bolder;
}
.header-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(237,193,178,255);
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.6)), url(https://monogramcc.com/static/9a0b554db1990565457610c5f83b3ad7/91943/shop_cta_xl_896f6b8270.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.header-main__text{
    width:450px;
    text-align: center;
    line-height: normal;
    word-spacing: 2px;
}
.header-main__text h1{
    font-size: 40px;
    margin-bottom: 5%;
    letter-spacing: 2px;
}
.header-main__text p{
    font-size: 19px;
}
.header-main svg{
    position: absolute;
    top:70%;
    margin-inline: auto;
    font-size: 30px;
    transition: all 0.2s ease-in;
    color:#fff;
}
.header-main svg:hover{
    transform: scale(1.1);
}
.main-card-1{
    position: relative;
    width:600px;
    margin-inline: auto;
    margin-top: 3%;
    cursor: pointer;
}
.main-cards__container{
    z-index: 8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    justify-content: center;
    width:65%;
    margin-inline:auto;
}
.main-cards__container h1 a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}
.main-cards__container h1{
    margin-bottom: 5px;
}
.main-cards-sold{
    display: flex;
    justify-content: space-between;
}
.main-cards-preorder{
    position: absolute;
    top: 5%;
    left: 83.8%;
    background-color: orange;
    padding: 5px;
}
.main-cards-preorder p{
    font-weight: 600;
    font-size: small;
}
.main-cards__img{
    position: relative;
    height: 350px;
    margin-bottom: 1%;
}
.main-cards__img img{
    width:600px;
    height: 350px; 
    position: absolute;
    object-fit: cover;
    transition: all 0.1s ease-in;
}
.main-cards__img{
    width: 900px;
}
.main-cards__img #img2:hover{
    opacity: 0;
}
.spanned{
    width: 1230px;
        .main-cards__img img{
            width:1230px;
            height: 450px; 
        }
        .main-cards-preorder{
            position: absolute;
            top: 5%;
            left: 92%;
            background-color: orange;
            padding: 5px;
        }
        .main-last__Alltext{
            margin-top: 10%;
        }
}