.bx-shopping-M{
    display: none;
}
.Ms{
    display: none;
}
.footer-M{
    display: none;
}

.spanned1{
display: none;
}
.footer-pr-m{
    display: none;
}
@media(min-width:810px)and (max-width:1300px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body{
        font-family:Arial, Helvetica, sans-serif;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    header{
        width: 1fr;
        position: fixed;
        color:rgba(237,193,178,255);
        z-index: 100;
    }
    nav{
        background-color: rgb(25, 17, 93);
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin: 20px;
        max-height: 45px;
    }
    nav ul{
        display: flex;
        gap:40px;
        margin-right:2%;
    }
    
    nav ul li a{
        text-decoration: none;
        color:rgba(237,193,178,255);
        text-transform: uppercase;
        font-size: 12px;
        word-spacing: 2px;
        
    }
    nav ul li i{
        color:rgba(237,193,178,255);
        font-size: 30px;
        margin-right: 5px;
        
    
    }
    nav ul details summary{
        z-index: 2;
        display: none;
    
    }
    nav ul details{
        position: relative;
        top:10%;
    }
    .is-active-works{
        padding-left: 15px;
    }
    nav ul details p{
        width: 150px;
        text-align: center;
        text-transform: uppercase;
        background-color: #fff;
        font-family: courier;
    }
    nav ul details p a{
        text-decoration: none;
        color:black
    }
    nav ul details p:hover{
        background-color: rgb(214, 212, 212);
    }
    .Desktop{
        display: none;
    }
    .Ms {
        display: flex;
    }
    .Ms img{
        width: 30px;
    }
    nav ul .shopping-M{
        display: block;
    }
    .is-active{
        font-weight: bolder;
    }
    .header-main{
        display: flex;
        justify-content: center;
        align-items: center;
        color:rgba(237,193,178,255);
        background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.6)), url(https://monogramcc.com/static/9a0b554db1990565457610c5f83b3ad7/91943/shop_cta_xl_896f6b8270.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 80vh;
        width: 100%;
    }
    .header-main__text{
        width:450px;
        text-align: center;
        line-height: normal;
        word-spacing: 2px;
    }
    .header-main__text h1{
        font-size: 40px;
        margin-bottom: 5%;
        letter-spacing: 2px;
    }
    .header-main__text p{
        font-size: 19px;
    }
    .header-main svg{
        position: absolute;
        top:70%;
        margin-inline: auto;
        font-size: 30px;
        transition: all 0.2s ease-in;
        color:#fff;
    }
    .header-main svg:hover{
        transform: scale(1.1);
    }
    .main-card-1{
        position: relative;
        width:600px;
        margin-inline: auto;
        margin-top: 3%;
        cursor: pointer;
    }
    .main-cards__container{
        z-index: 8;
        display: grid;
        grid-template-columns:1fr;
        justify-content: center;
        gap: 10px;
        
        
    
    }
    .main-cards__container h1 a{
        text-decoration: none;
        color:black;
        text-transform: uppercase;
    }
    .main-cards__container h1{
        margin-bottom: 5px;
    }
    .main-cards-sold{
        display: flex;
        justify-content: space-between;
    }
    .main-cards-preorder{
        position: absolute;
        top: 5%;
        left: 83.8%;
        background-color: orange;
        padding: 5px;
    }
    .main-cards-preorder p{
        font-weight: 600;
        font-size: small;
    }
    .main-cards__img{
        position: relative;
        height: 350px;
        margin-bottom: 1%;
    }
    .main-cards__img img{
        width:600px;
        height: 350px; 
        position: absolute;
        object-fit: cover;
        transition: all 0.1s ease-in;
    }
    .main-cards__img{
        width: 600px;
    }
    .main-cards__img #img2:hover{
        opacity: 0;
    }
    .spanned{
        width: 600px;
        height: 10px;
            .main-cards__img img{
                width:600px;
                height: 400px; 
            }
            .main-cards-preorder{
                position: absolute;
                top:200%;
                left: 83.8%;
                background-color: orange;
                padding: 5px;
            }
            .main-last__Alltext{
                margin-top: 10%;
            }
    }
    .spanned a{
        text-decoration: none;
        color: #000;
    }
    .spanned1{
      display: none;
     
    }
    .spanned{
        display: block;
        
    }
    .half-page{
        background-color:white;
    }
    .half-page__container{
        width: 100%;
     
       position: relative;
       top: 500px;
    }
    .half-page__img img{
        display: inline;
        width: 100%;
        vertical-align: top;
        aspect-ratio: auto;
      
    }
    .half-page__text{
        text-align: center;
        color:rgb(30, 30, 80);
        margin-top: 20px;
        position: absolute;
        margin-left: 25%;
    }
    .half-page__text h1{
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 3%;
    }
    .cards{
        margin-inline:auto;
        margin-bottom: 2%;
    }
    .cards img{
        width:100%;
    }
    .main-cards-sold h2 a{
        text-transform: uppercase;
        color:black;
        text-decoration: none;
    }
    .hello{
        width: 600px;
    }
    .ALL-CARDS-DOWN{
        width: 40%;
        margin-inline:auto;
        display: flex;
        flex-wrap: wrap;
        gap:10px;
        margin-top: 600px;
        margin-left: 280px;
      
    }
    .container{
        max-width: 1170px; 
        margin: auto;
        width: 80%;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color: #061a4a;
        padding: 40px 0;
    }
    .footer-col{
        width:20%;
        padding: 0 15px;
    }
    .footer-col h4{
        font-size: 12px;
        color:rgba(237,193,178,255);
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: 500;
        position: relative;
    }
    .footer-col ul input{
        margin-bottom: 10%;
        border: 2px solid rgba(237,193,178,255);
        background-color: transparent;
        color:gray;
        font-size: 1rem;
        width:60%;
    }
    .footer-col ul button{
        background-color: rgb(143, 122, 140);
        padding: 5px 10px;
        border-radius: 15px;
        outline:none;
        border: none;
    }
    .footer-col ul p{
        color: rgba(237,193,178,255);
        font-size: 11px;
    }
    .footer-col ul li:not(:last-child){
       margin-bottom: 10px;
    }
    .footer-col ul li a{
        text-decoration: none;
        font-size: 12px;
        text-transform: capitalize;
        font-weight: 300;
        color:rgba(237,193,178,255);
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col .social-links a{
        display:inline-block;
        height: 30px;
        width:30px;
        background-color: rgba(237,193,178,255);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        color:black;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color:#24262b;
        background-color: #ffffff;
    }
}
@media ( max-width:900px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
}
header{
    width: 1fr;
    position: fixed;
    color:rgba(237,193,178,255);
    z-index: 100;
}
nav{
    background-color: rgb(25, 17, 93);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 20px;
    max-height: 45px;
}
nav ul{
    display: flex;
    gap:40px;
    margin-right:2%;
}

nav ul li a{
    text-decoration: none;
    color:rgba(237,193,178,255);
    text-transform: uppercase;
    font-size: 12px;
    word-spacing: 2px;
    
}
nav ul li i{
    color:rgba(237,193,178,255);
    font-size: 30px;
    margin-right: 5px;
    

}
nav ul details summary{
    z-index: 2;
    display: none;

}
nav ul details{
    position: relative;
    top:10%;
}
.is-active-works{
    padding-left: 15px;
}
nav ul details p{
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    font-family: courier;
}
nav ul details p a{
    text-decoration: none;
    color:black
}
nav ul details p:hover{
    background-color: rgb(214, 212, 212);
}
.Desktop{
    display: none;
}
.Ms {
    display: flex;
}
.Ms img{
    width: 30px;
}
nav ul .shopping-M{
    display: block;
}
.is-active{
    font-weight: bolder;
}
.header-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(237,193,178,255);
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.6)), url(https://monogramcc.com/static/9a0b554db1990565457610c5f83b3ad7/91943/shop_cta_xl_896f6b8270.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.header-main__text{
    width:450px;
    text-align: center;
    line-height: normal;
    word-spacing: 2px;
}
.header-main__text h1{
    font-size: 40px;
    margin-bottom: 5%;
    letter-spacing: 2px;
}
.header-main__text p{
    font-size: 19px;
}
.header-main svg{
    position: absolute;
    top:70%;
    margin-inline: auto;
    font-size: 30px;
    transition: all 0.2s ease-in;
    color:#fff;
}
.header-main svg:hover{
    transform: scale(1.1);
}
.main-card-1{
    position: relative;
    width:600px;
    margin-inline: auto;
    margin-top: 3%;
    cursor: pointer;
}
.main-cards__container{
    z-index: 8;
    display: grid;
    grid-template-columns:1fr;
    justify-content: center;
    gap: 10px;
}
.main-cards__container h1 a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}
.main-cards__container h1{
    margin-bottom: 5px;
}
.main-cards-sold{
    display: flex;
    justify-content: space-between;
}
.main-cards-preorder{
    position: absolute;
    top: 5%;
    left: 83.8%;
    background-color: orange;
    padding: 5px;
}
.main-cards-preorder p{
    font-weight: 600;
    font-size: small;
}
.main-cards__img{
    position: relative;
    height: 350px;
    margin-bottom: 1%;
}
.main-cards__img img{
    width:100%;
    height: 350px; 
    position: absolute;
    object-fit: cover;
    transition: all 0.1s ease-in;
}
.main-cards__img{
    width: 600px;
}
.main-cards__img #img2:hover{
    opacity: 0;
}
.spanned{
    width: 600px;
    height: 10px;
        .main-cards__img img{
            width:600px;
            height: 400px; 
        }
        .main-cards-preorder{
            position: absolute;
            top:200%;
            left: 83.8%;
            background-color: orange;
            padding: 5px;
        }
        .main-last__Alltext{
            margin-top: 10%;
        }
}
.spanned a{
    text-decoration: none;
    color: #000;
}
.spanned1{
  display: none;
 
}
.spanned{
    display: block;
    
}
.half-page{
    background-color:white;
}
.half-page__container{
    width: 100%;
 
   position: relative;
   top: 500px;
}
.half-page__img img{
    display: inline;
    width: 100%;
    vertical-align: top;
    aspect-ratio: auto;
  
}
.half-page__text{
    text-align: center;
    color:rgb(30, 30, 80);
    margin-top: 20px;
    position: absolute;
    margin-left: 25%;
}
.half-page__text h1{
    font-size: larger;
    text-transform: uppercase;
    margin-bottom: 3%;
}
.cards{
    margin-inline:auto;
    margin-bottom: 2%;
}
.cards img{
    width:100%;
}
.main-cards-sold h2 a{
    text-transform: uppercase;
    color:black;
    text-decoration: none;
}
.hello{
    width: 600px;
}
.ALL-CARDS-DOWN{
    width: 40%;
    margin-inline:auto;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 600px;
    margin-left: 90px;
  
}
.container{
    max-width: 1170px; 
    margin: auto;
    width: 80%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #061a4a;
    padding: 40px 0;
    
}
.footer-col{
    width:20%;
    padding: 0 15px;
    display: none;
}
.footers h4{
    font-size: 12px;
    color:rgba(237,193,178,255);
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}
.footers ul input{
    margin-bottom: 10%;
    border: 2px solid rgba(237,193,178,255);
    background-color: transparent;
    color:gray;
    font-size: 1rem;
    width:60%;
}
.footers ul button{
    background-color: rgb(143, 122, 140);
    padding: 5px 10px;
    border-radius: 15px;
    outline:none;
    border: none;
}
.footer-col ul p{
    color: rgba(237,193,178,255);
    font-size: 11px;
}
.footers ul p{
    color: rgba(237,193,178,255);
    font-size: 11px;
}
.footers ul li:not(:last-child){
   margin-bottom: 10px;
}
.footers ul li a{
    text-decoration: none;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 300;
    color:rgba(237,193,178,255);
    display: block;
    transition: all 0.3s ease;
}
.footers .social-links a{
    display:inline-block;
    height: 30px;
    width:30px;
    background-color: rgba(237,193,178,255);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color:black;
    transition: all 0.5s ease;
}
.footers .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}
.footer-pr-m{
    display: grid;
    grid-template-columns: 1fr;
}
.container{
    background-color: #061a4a;
    display: grid;
    grid-template-columns: 1fr;
margin-bottom: 40px;
 }
 .footers{
    margin-left: 20px;
 }
 .row{
margin-bottom: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
 }
}
@media (max-width:630px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body{
        font-family:Arial, Helvetica, sans-serif;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    header{
        width: 1fr;
        position: fixed;
        color:rgba(237,193,178,255);
        z-index: 100;
    }
    nav{
        background-color: rgb(25, 17, 93);
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin: 20px;
        max-height: 45px;
    }
    nav ul{
        display: flex;
        gap:40px;
        margin-right:2%;
    }
    
    nav ul li a{
        text-decoration: none;
        color:rgba(237,193,178,255);
        text-transform: uppercase;
        font-size: 12px;
        word-spacing: 2px;
        
    }
    nav ul li i{
        color:rgba(237,193,178,255);
        font-size: 30px;
        margin-right: 5px;
        
    
    }
    nav svg{
        width: 120px;
    }
    nav ul details summary{
        z-index: 2;
        display: none;
    
    }
    nav ul details{
        position: relative;
        top:10%;
    }
    .is-active-works{
        padding-left: 15px;
    }
    nav ul details p{
        width: 150px;
        text-align: center;
        text-transform: uppercase;
        background-color: #fff;
        font-family: courier;
    }
    nav ul details p a{
        text-decoration: none;
        color:black
    }
    nav ul details p:hover{
        background-color: rgb(214, 212, 212);
    }
    .Desktop{
        display: none;
    }
    .Ms {
        display: flex;
    }
    .Ms img{
        width: 30px;
    }
    nav ul .shopping-M{
        display: block;
    }
    .is-active{
        font-weight: bolder;
    }
    .header-main{
        display: flex;
        justify-content: center;
        align-items: center;
        color:rgba(237,193,178,255);
        background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.6)), url(https://monogramcc.com/static/9a0b554db1990565457610c5f83b3ad7/91943/shop_cta_xl_896f6b8270.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 80vh;
        width: 100%;
    }
    .header-main__text{
        width:450px;
        text-align: center;
        line-height: normal;
        word-spacing: 2px;
    }
    .header-main__text h1{
        font-size: 40px;
        margin-bottom: 5%;
        letter-spacing: 2px;
    }
    .header-main__text p{
        font-size: 19px;
    }
    .header-main svg{
        position: absolute;
        top:70%;
        margin-inline: auto;
        font-size: 30px;
        transition: all 0.2s ease-in;
        color:#fff;
    }
    .header-main svg:hover{
        transform: scale(1.1);
    }
    .main-card-1{
        position: relative;
        width:auto;
        margin-inline: auto;
        margin-top: 3%;
        cursor: pointer;
    }
    .main-cards__container{
    
        display: grid;
        grid-template-columns:1fr;
     
   margin: 19px;
        
        
    
    }
    .main-cards__container h1 a{
        text-decoration: none;
        color:black;
        text-transform: uppercase;
        font-size:  medium;
    }
    .main-cards__container h1{
        margin-bottom: 5px;
    }
    .main-cards-sold{
       display: grid;
       grid-template-columns: 1fr auto;
    }
    .main-cards-preorder{
       display: none;
    }
    .main-cards-preorder p{
        font-weight: 0;
        font-size: xx-small;
    }
    .main-cards__img{
        position: relative;
        width: auto;
        height: 350px;
        margin-bottom: 1%;
    }
    .main-cards__img img{
        width:350px;
        height: 200px; 
        position: absolute;
        object-fit: cover;
        transition: all 0.1s ease-in;
    }
    .main-cards__img{
        height: 210px;
    }
    .main-cards__img #img2:hover{
        opacity: 0;
    }
    .spanned{
        width: 1230px;
            .main-cards__img img{
                width:1230px;
                height: 450px; 
            }
            .main-cards-preorder{
                position: absolute;
                top: 5%;
                left: 92%;
                background-color: orange;
                padding: 5px;
            }
            .main-last__Alltext{
                margin-top: 10%;
            }
    }
    .spanned a{
        text-decoration: none;
        color: #000;
    }
    .spanned1{
        display: block;
        margin: 0;
    }
    .spanned{
        display: none;
    }
    .scs{
        margin-left: 60px;
        
    }
    .half-page{
        background-color:white;
    }
    .half-page__container{
        width: 100%;
     
       position: relative;
       top: 90px;
    }
    .half-page__img img{
        display: inline;
        width: 100%;
        vertical-align: top;
        aspect-ratio: auto;
      
    }
    .half-page__text{
        text-align: center;
        color:rgb(30, 30, 80);
        margin-top: 20px;
        position: absolute;
        margin-left: 25%;
    }
    .half-page__text h1{
        font-size: small;
        text-transform: uppercase;
        margin-bottom: 3%;
    }
    .cards{
        margin-inline:auto;
        margin-bottom: 2%;
    }
    .cards img{
        width:100%;
    }
    .main-cards-sold h2 a{
        text-transform: uppercase;
        color:black;
        text-decoration: none;
        font-size: small;
    }
    .hello{
        width: 600px;
    }
    .ALL-CARDS-DOWN{
        width: 90%;
        margin-inline:auto;
        display: flex;
        flex-wrap: wrap;
        gap:10px;
        margin-top: 150px;
        margin-left: 25px;
      
    }
    .container{
        max-width: 1170px; 
        margin: auto;
        width: 80%;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color: #061a4a;
        padding: 40px 0;
        
    }
    .footer-col{
        width:20%;
        padding: 0 15px;
        display: none;
    }
    .footers h4{
        font-size: 12px;
        color:rgba(237,193,178,255);
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: 500;
        position: relative;
    }
    .footers ul input{
        margin-bottom: 10%;
        border: 2px solid rgba(237,193,178,255);
        background-color: transparent;
        color:gray;
        font-size: 1rem;
        width:60%;
    }
    .footers ul button{
        background-color: rgb(143, 122, 140);
        padding: 5px 10px;
        border-radius: 15px;
        outline:none;
        border: none;
    }
    .footer-col ul p{
        color: rgba(237,193,178,255);
        font-size: 11px;
    }
    .footers ul p{
        color: rgba(237,193,178,255);
        font-size: 11px;
    }
    .footers ul li:not(:last-child){
       margin-bottom: 10px;
    }
    .footers ul li a{
        text-decoration: none;
        font-size: 12px;
        text-transform: capitalize;
        font-weight: 300;
        color:rgba(237,193,178,255);
        display: block;
        transition: all 0.3s ease;
    }
    .footers .social-links a{
        display:inline-block;
        height: 30px;
        width:30px;
        background-color: rgba(237,193,178,255);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        color:black;
        transition: all 0.5s ease;
    }
    .footers .social-links a:hover{
        color:#24262b;
        background-color: #ffffff;
    }
    .footer-pr-m{
        display: grid;
        grid-template-columns: 1fr;
    }
    .container{
        background-color: #061a4a;
        display: grid;
        grid-template-columns: 1fr;
    margin-bottom: 40px;
     }
     .footers{
        margin-left: 20px;
     }
     .row{
    margin-bottom: 40px;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
     }
}